.card-title {
    text-align: center;
}

.card {
    height: 300px ;
}

.col {
padding-top: 10%;
}

#c {
    padding-top: 20px;
}

#resultado {
    margin: 0px auto;
    text-align: center;
}